/* <!---------- Постоянные клиенты --------> */

.best-clients-section {
  &__container {
    @extend %top-bottom-shifting-section;
  }

  &__title {
    // @extend %title-section;
    @include title-section(30px, 28px);
  }

  &__list {
    display: grid;
    gap: 30px;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
  }

  &__item {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    height: 92px;
    border: 1px solid $best-cliets-section-primary-color;
    border-radius: 4px;
    cursor: pointer;
  }

  &__link {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
  }

  &__icon {
    width: 106px;
    height: 60px;
    fill: $best-cliets-section-primary-color;
    -webkit-transition: fill $anim-duration $anim-function;
    transition: fill $anim-duration $anim-function;
  }

  @include media(">tablet") {
    &__list {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }

  @include media(">desktop") {
    &__list {
      display: flex;
      gap: 30px;
    }
  }
}

/*-------  effect-box --------- */
.best-clients-section {
  &__link:after,
  &__link:before {
    position: absolute;
    left: -2px;
    display: inline-block;
    height: 98%;
    width: 99%;
    opacity: 0;
    -webkit-transition: opacity $anim-duration $anim-function,
      -webkit-transform $anim-duration $anim-function;
    transition: opacity $anim-duration $anim-function, transform $anim-duration $anim-function;
    content: "";
  }

  &__link:before {
    border-radius: 7px;
    border-left: 3px solid $accent-color;
    border-right: 3px solid $accent-color;
    -webkit-transform: scale(1, 0);
    transform: scale(1, 0);
    height: 102%;
  }

  &__link:after {
    border-radius: 7px;
    border-bottom: 3px solid $accent-color;
    border-top: 3px solid $accent-color;
    -webkit-transform: scale(0, 1);
    transform: scale(0, 1);
    left: -2px;
    width: 101%;
  }

  &__link:hover:after,
  &__link:hover:before {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  &__item:focus &__icon,
  &__item:hover &__icon {
    fill: $accent-color;
  }
}
