/* ---- Наша команда ------ */
.team-section {
  background-color: $background-color-team-section;

  &__container {
    @extend %top-bottom-shifting-section;
  }

  &__title {
    // @extend %title-section;
    @include title-section(30px, 28px);
    color: $text-color-secondary;
  }

  &__list {
    display: block;
    font-weight: $font-weight-1;
    font-size: $font-size-2;
    line-height: 1.187;
    text-align: center;
    letter-spacing: 0.03em;
  }

  &__item:first-child {
    margin-top: 0;
  }

  &__item {
    margin-top: 30px;
  }

  // MEDIA TABLET -------------
  @include media(">tablet") {
    &__list {
      display: flex;
      flex-wrap: wrap;
      gap: 30px;
      justify-content: center;
    }

    &__item {
      width: calc((100% / 2) - 15px);
      margin: 0;
    }
  }

  // MEDIA DESKTOP -------------
  @include media(">desktop") {
    &__title {
      @include title-section(50px, 36px);
    }

    // &__list {
    //   display: flex;
    //   justify-content: space-between;
    // }

    &__item {
      width: auto;     
    }
  }
}
