/* ---- Наша команда ------ */
.team-section {
  background-color: $background-color-team-section;

  &__container {
    @extend %top-bottom-shifting-section;
  }

  &__title {
    @extend %title-section;
    color: $text-color-secondary;
  }

  &__list {
    display: block;
    font-weight: $font-weight-1;
    font-size: $font-size-2;
    line-height: 1.187;
    text-align: center;
    letter-spacing: 0.03em;
  }

  &__item:first-child {
    margin-top: 0;
  }

  &__item {
    margin-top: 30px;    
  }

  @include media(">tablet") {

  }

  @include media(">desktop") {
    &__list {
      display: flex;
      justify-content: space-between;
    }
  }
}
