.btn {
  height: 50px;
  width: 200px;
  align-items: center;
  font-weight: $font-weight-2;
  font-size: $font-size-2;
  line-height: 1.87;
  letter-spacing: 0.06em;
  border-radius: 4px;
  border: 0;
  background: $btn-background-color;
  color: $btn-text-color;
  cursor: pointer;
}
