.contacts {
  display: none;
  /* dub */
  font-weight: $font-weight-1;
  line-height: 1.14;
  letter-spacing: 0.02em;

  transition: color $anim-duration $anim-function;

  &__item {
    display: flex;
    align-items: center;
    margin-left: 50px;
  }

  &__link {
    @extend %header-link-paddings;    
    display: flex;
    align-items: center;
    color: $text-color-primary;
  }

  &__icon {
    margin-right: 10px;
    fill: $text-color-primary;
  }

  &__icon--email {
    width: 16px;
    height: 12px;
  }

  &__icon--tel {
    width: 10px;
    height: 16px;
  }
}

// ------ Hover

.contacts {
  &__link:hover,
  &__link:focus {
    color: $accent-color;
  }

  &__link:hover &__icon,
  &__link:focus &__icon {
    fill: $accent-color;

    transition: fill $anim-duration $anim-function;
    -webkit-animation: flip-scale-up-ver $anim-duration $anim-function both;
    animation: flip-scale-up-ver $anim-duration $anim-function both;
  }

  @-webkit-keyframes flip-scale-up-ver {
    0% {
      -webkit-transform: rotateY(0);
      transform: rotateY(0);
    }
    50% {
      -webkit-transform: rotateY(90deg);
      transform: rotateY(90deg);
    }
    100% {
      -webkit-transform: rotateY(180deg);
      transform: rotateY(180deg);
    }
  }
  @keyframes flip-scale-up-ver {
    0% {
      -webkit-transform: rotateY(0);
      transform: rotateY(0);
    }
    50% {
      -webkit-transform: rotateY(90deg);
      transform: rotateY(90deg);
    }
    100% {
      -webkit-transform: rotateY(180deg);
      transform: rotateY(180deg);
    }
  }
}

@media screen and (min-width: 768px) {
  .contacts {
    display: flex;
  }
}
