.menu {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 40px;
  
    display: none;
    flex-direction: column;
    justify-content: space-between;
  
    background-color: #fff;
    z-index: 100;

  &__close-button {
    @extend %close-button;
    margin: 21px;
    transform: scale(2);
    border: none;
    top: 0;
  }

  &__pages {
    font-weight: 500;
    font-size: 40px;
    line-height: 47px;
    letter-spacing: 0.02em;
    color: $text-color-secondary;
  }

  &__contact,
  &__page {
    margin-bottom: 32px;
  }

  &__page:last-child {
    margin-bottom: 302px;
  }

  &__bootom-wrapper {
    font-weight: 500;
    letter-spacing: 0.02em;
  }

  &__contacts {
    font-size: 24px;
    line-height: 28px;
  }

  &__contact:first-child {
    font-size: 34px;
    line-height: 40px;
    color: $accent-color;
  }

  &__contact:last-child {
    margin-bottom: 64px;
  }

  &__social-links {
    display: flex;
    font-size: 18px;
    line-height: 22px;
    color: $accent-color;
  }

  &__social-link {
    margin-right: 20px;
  }

  &__social-link::after {
    position: relative;
    left: 10px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    transform: rotate(90deg);
    content: "";
  }

  &__social-link:last-child::after {
    border: none;
  }

  &__link {
    color: inherit;
    cursor: pointer;
  }
}

// Hover
.menu {
  // Close button hover
  &__close-button:hover {
    fill: $accent-color;
  }

  &__page:hover &__link {
    padding-left: 5px;
    color: $accent-color;
  }
}
