.subscribe-section {
  width: 100%;

  &__title {
    @extend %footer-section-title;
  }

  &__input {
    vertical-align: top;
    box-sizing: border-box;
    padding: 15px 16px 15px 16px;
    width: 100%;
    // width: 358px;
    height: 50px;
    font-size: $font-size-2;
    line-height: 1.26;
    letter-spacing: 0.03em;
    color: $subscribe-section-input-color;
    background-color: transparent;
    border: 1px solid $subscribe-section-input-border-color;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
  }

  &__input:invalid {
    border: 2px solid $invalid-color;
  }

  &__btn {
    margin-top: 20px;
    transition: box-shadow $anim-duration $anim-function;
  }

  &__icon {
    position: relative;
    top: 7px;
    padding-left: 10px;
    width: 24px;
    height: 24px;
    fill: $subscribe-section-icon-color;
  }


  @include media(">tablet") {

  }

  @include media(">desktop") {
    &__btn {
      margin-left: 12px;
    }

    margin-left: 93px;
  }
}

// Hover
.subscribe-section {
  &__btn:hover {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }
}
