%top-bottom-shifting-section {
  padding-top: 60px;
  padding-bottom: 60px;
}

%footer-section-title {
  margin-bottom: 20px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: $font-weight-2;
  font-size: $font-size-default;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $text-color-third;
}

// @include media(">tablet") {
//   %top-bottom-shifting-section {
//     padding-top: 94px;
//     padding-bottom: 94px;
//   }

// padding-bottom: 50px;
// font-size: 36px;

// }

// @include media(">desktop") {
// }
