  //------------------------------------------------ Global
  // Container
  $t-container-max-width: 738px;

  // Fonts
  $t-font-size-0: 12px;
  $t-font-size-default: 14px;
  $t-font-size-2: 16px;
  $t-font-size-3: 18px;

  $t-font-weight-default: 400;
  $t-font-weight-1: 500;
  $t-font-weight-2: 700;
  $t-font-weight-3: 900;

  // ------------------------------------------------ Modules
  // Logo
  $t-logo-second-text-part-color-header: #000;
  $t-logo-font-size: 24px;

  // Modal-order
  $t-modal-form-title-text-size: 20px;
  $t-modal-policy-icon-h: 15px;
  $t-modal-policy-icon-w: 16px;

  // ------------------------------------------------ Portfolio //////////
  
  // ------------------------------------------------ Portfolio //////////

