.page-header {
  // display: flex;
  border-bottom: $navigation-border-color;
  border-bottom-style: solid;
  border-bottom-width: 1px;

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__menu-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    width: 40px;
    height: 40px;
    border: none;
    background-color: transparent;
    cursor: pointer;
  }

  &__icon-menu {
    width: 24px;
    height: 16px;
    transition: fill $anim-duration $anim-function;
  }

  @include media(">tablet") {    
    &__icon-menu {
      display: none;
    }
  }

}

// Hover
.page-header {
  &__menu-button:hover &__icon-menu  {
    fill: $accent-color;
  }
}