.page-header {
  display: flex;
  border-bottom: $navigation-border-color;
  border-bottom-style: solid;
  border-bottom-width: 1px;

  &__container {
    display: flex;
    justify-content: space-between;
  }

}

